<div *ngIf="bio">
    <div class="panel panel-default">
        <div class="panel-heading">
            {{bio.name}} <small>({{bio.login}})</small>
            <span *ngIf="bio.company">,works at{{bio.company}}</span> {{bio.location}}
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-sm-3">
                    <img src="{{bio.avatar_url}}" class="img-circle img-responsive" alt="profile picture">

                </div>

                <div class="col-sm-5">
                    <ul class="list-group">
                        <li class="list-group-item" *ngIf="bio.bio">{{bio.bio}}</li>
                        <li class="list-group-item" *ngIf="bio.hirable">available for hire</li>
                        <li class="list-group-item" *ngIf="bio.blog"><a href="{{bio.blog}}" target="_blank">{{bio.blog}}</a></li>
                        <li class="list-group-item" *ngIf="bio.email"><a href="emailto:{{bio.email}}">{{bio.email}}</a></li>
                    </ul>

                </div>
                <div class="col-sm-4">
                    <div>
                        <p>
                            <span class="label label-default">{{bio.followers}}followers</span>
                            <span class="label label-primary">Following{{bio.following}}</span>
                            <span class="label label-success">{{bio.public_gists}}public gists</span>
                            <span class="label label-info">{{bio.repos}}public repos </span>
                        </p>
                        <p>
                            <a href="bio.html_url" target="_blank" class="btn btn-success">View profile in github</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>